$primary: #092328;
$dark: yellow;
$modal-backdrop-bg: green;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$rosali-theme-colors: (
    "favorite1" : purple,
    "favorite2": brown
);

$theme-colors: map-merge($rosali-theme-colors , $theme-colors);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
